body {
	background-color: #512da8;
	color: #fff;
}

.quote-box {
	width: 33%;
	margin: auto;
	border: 1px solid #fff;
	padding: 1em;
}

.quote-author {
	text-align: right;
	padding: 0.25em;
}

.buttons {
	margin-top: 1em;
}

.btn-color, .btn-color:focus {
	background-color: #7c4dff;
}

.btn-color:hover {
	background-color: #bdbdbd;
}

